.person-section {
  background: linear-gradient(180deg, #ffffff 0%, #e7f0fb 100%);

  &__container {
    display: flex;
    column-gap: 30px;

    @media (max-width: 1023px) {
      flex-direction: column;
    }
  }

  &__description {
  }
}

.person-description {
  display: flex;
  flex-direction: column;
  flex: 0 1 30%;
  margin-top: 200px;
  padding-bottom: 80px;

  @media (max-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 40px;
  }

  &__text-block {
    flex: 1 1 30%;
  }

  &__rating-block {
    flex: 1 1 auto;
  }

  &__title {
    font-family: 'CeraPro';
    font-size: 48px;
    white-space: nowrap;
    font-weight: 500;
    line-height: 55px;
    margin-bottom: 30px;

    @media (max-width: 1270px) {
      font-size: 38px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }

  &__text {
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 45px;

    @media (max-width: 1279px) {
      line-height: 20px;
      margin-bottom: 25px;
    }
  }
}

.person-rating {
  display: flex;
  column-gap: 62px;
  margin-bottom: 90px;

  @media (max-width: 1279px) {
    column-gap: 20px;
    margin-bottom: 35px;
  }
}

.age-block {
  display: flex;
  column-gap: 14px;

  &__number {
    display: flex;
    font-family: 'CeraPro';
    font-size: 46px;
    font-weight: 700;
    line-height: 43px;
    align-items: center;

    @media (max-width: 1279px) {
      font-size: 36px;
      line-height: 35px;
    }
  }

  &__description {
  }

  &__title {
    font-family: 'CeraPro';
    font-size: 24px;
    font-weight: 700;

    @media (max-width: 1279px) {
      font-size: 18px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    white-space: nowrap;

    @media (max-width: 1279px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.person-review {
  display: flex;
  column-gap: 14px;

  &__number {
    display: flex;
    font-family: 'CeraPro';
    font-size: 46px;
    font-weight: 700;
    line-height: 43px;
    align-items: center;

    @media (max-width: 1279px) {
      font-size: 36px;
      line-height: 35px;
    }
  }

  &__description {
  }

  &__stars {
    color: rgba(255, 230, 0, 1);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 5px;

    @media (max-width: 1279px) {
      font-size: 18px;
    }

    @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    white-space: nowrap;

    @media (max-width: 1279px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.person-icons {
  display: flex;
  column-gap: 23px;

  &__vk {
  }

  &__youtube {
  }
}

.person-media-block {
  display: flex;
  position: relative;
  margin-left: auto;
  background: url('@img/person-background.png') 75px 6px / contain no-repeat;

  @media (max-width: 1023px) {
    margin: 0 auto;
  }

  @media (max-width: 479px) {
    background-position: 38px 0;
  }

  &__image {
    display: block;
    align-self: flex-end;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.media-modal {
  position: absolute;
  bottom: 14px;
  left: -78px;
  max-width: 413px;
  padding: 14px 23px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 20px;
  overflow: hidden;

  @media (max-width: 1279px) {
    left: 0;
  }

  @media (max-width: 479px) {
    padding: 5px 10px;
  }

  &__body {
    position: relative;
  }

  &__avatar {
    margin-right: 13px;
    background-color: rgba(0, 148, 218, 1);
    border-radius: 50%;
  }

  &__title {
    display: inline-block;
    font-size: 14px;
    font-family: 'CeraPro';
    margin-bottom: 20px;
    padding-top: 7px;
    font-weight: 700;
    line-height: 7px;

    @media (max-width: 579px) {
      margin-bottom: 11px;
    }
  }

  &__text {
    font-family: 'Ubuntu';
    line-height: 24px;
    border-top: 0.5px solid rgba(24, 157, 221, 1);
    padding-top: 8px;
    font-weight: 300;

    @media (max-width: 479px) {
      font-size: 14px;
      line-height: 19px;
      padding-top: 3px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.38),
        rgba(255, 255, 255, 0.38)
      ),
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.16),
        rgba(255, 255, 255, 0.16)
      );
    backdrop-filter: blur(10px);
  }
}

//========================================================================================================================================================

.achievements-section {
  background: rgba(247, 247, 247, 1);

  &__container {
  }

  &__items {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto; // or 1fr если нужно, чтобы блоки были одинаковой высоты
    gap: 10px;

    > * {
      grid-column: 3 span;
    }

    @media (max-width: 767px) {
      > * {
        grid-column: 6 span;
      }
    }
  }
}

.achievements-item {
  max-width: 213px;

  &__image-container {
    position: relative;
    width: 90px;
    height: 103px;
    margin-bottom: 24px;

    img {
      position: relative;
      top: 29px;
      left: 10px;
      width: 41px;
      height: 41px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0;
      background: rgba(0, 148, 218, 1);
      clip-path: polygon(100% 50%, 0 0, 0 100%);
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    margin-bottom: 50px;
    font-family: 'CeraPro';
    font-size: 22px;
    line-height: 26px;

    @media (max-width: 1279px) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}
